.box {
  display: block;
  margin: 0 auto;
  margin-top: 45px;

  text-transform: uppercase;
  color: #000;
  text-align: center;

  cursor: pointer;
  transition: all .1s ease;

  &:hover,
  &:focus {
    opacity: .7;
  }

  &:active {
    opacity: .5;
  }
}