.box {
  position: absolute;
  left: 10px;
  top: 10px;

  width: 24px;
  height: 24px;

  cursor: pointer;
  transition: all .1s ease;

  &:hover,
  &:focus {
    opacity: .7
  }

  &:active {
    opacity: .5;
  }
}

.icon {
  width: 100%;
  height: 100%;

  fill: #787878;
}