.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  min-height: 35px;
  width: 100%;

  background-color: #FFFD12;

  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  color: #120C00;

  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.10);

  cursor: pointer;
  transition: all 0.1s ease;

  &:hover,
  &:focus {
    opacity: 0.8;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
  }

  &:active {
    opacity: 0.5;
    box-shadow: none;
  }
}

.box:disabled {
  cursor: default;
}

.rock {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    right: 22px;
    top: 50%;

    margin-top: -11px;
    width: 23px;
    height: 23px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./hand.svg');
  }
}

@media (max-width: 864px) {
  .rock {
    &::after {
      right: 5px;

      margin-top: -10px;
      width: 19px;
      height: 19px;
    }
  }
}